/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body{
    background-color: #f3f4f6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
}
.container {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
    background-color: aqua;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
h1, h2{ 
    color: #333;
}
h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    color: #333;
}
button{
    background-color: aqua;
    border: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.para{
    color: red;
    line-height: 1.6;
} */

button{
    background-color: aqua;
    border: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}
/* .menu{
    width: 80%;
    left: -100%;
    text-align: left;
    position: fixed;
    list-style: none;
    height: 100vh;
    padding: 10px 0px;
    background-color: aqua;
}

.activeMenu{
    left:0%;
}
.micon{
    position: absolute;
    right: 10px;
} */

/* .modalOverLay{
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalShow{
    display: block;
} */
/* .ModalDiv{
    width: 320px;
    height: 320px;
    background-color: white;
    position: fixed;
    transition: 0.3s;
    top: -500px;
    left: 50%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
} */

/* .showModalDiv{
    top: 50%;
}; */

/* .en{
    position: fixed;
    right: -30px;
    top: 100px;
    transform: rotate(90deg);
} */
/* div h1{
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 2rem;
} */
/* .faqouter{
    width: 1320px;
    margin:  auto;
}

.faqitems{
    border: 1px solid red;
    margin-bottom: 20px;
} */

/* .faqitems h2{
    margin: 0px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
} */

/* .faqitems p{
    height: 0px;
    margin: 0px;
    padding: 0px;
    transition: 0.5s;
    text-align: left;
    transform: scaleY(0);
} */

/* .activesAns{
    height: auto !important;
    transform: scaleY(1) !important;
    padding: 10px !important;
} */

/* .TabsOuter{
    margin: auto;
    width: 200px;
}

.TabsOuter ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0%;
    gap: 10px;
}

.TabsOuter ul li button{
    background: #e4e4e4;
    color: #343a40;
    padding: 0.5rem 20px;
    margin-right: 18px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
}

.activeButton{
    background-color: red !important;
    color: white !important;
} */